*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #dfd7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
body{
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("f1.jpg");
    background-size: cover;
    z-index: 99;
}
@media screen and (max-width:700px){
    body{ 
    background-image : url("f1.jpg");
    }
}

.logo{
    font-size: 2em;
    color: #161616;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1rem;
    color: #161616;
    text-decoration:none;
    font-weight: 500;
    margin: 25px;
}

.navigation .button-popup{
    width: 130px;
    height: 40px;
   background:transparent;
   border: 2px solid #161616;
   outline: none;
   border-radius: 10px;
   cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 40px;
    color: #161616;
    transition: .5s;

}

.navigation .button-popup:hover{
    background-color: #db6e6e;
    color: #161616;
}



.navigation a::after{
   content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background-color: #cf9191;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}

@media  screen and (max-width:800px) {
  body {
    
    height: 100vh;

  }
  .navigation a .button-popup{
    width: 100%;
  }
  

}



